/* src/tailwind.css */
@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
	/* Gruvbox-inspired Accent (Orange) */
	--color-accent-200: #fec89a;
	--color-accent-300: #feac6d;
	--color-accent-400: #fe8019;
	/* gruvbox bright_orange */
	--color-accent-500: #d65d0e;
	/* gruvbox neutral_orange */
	--color-accent-600: #c35000;
	--color-accent-700: #af3a03;
	/* gruvbox faded_orange */
	--color-accent-800: #8a2e02;
	--color-accent-900: #6a2301;
	--color-accent-950: #4a1801;

	/* Gruvbox-inspired Gray Scale */
	--color-gray-100: #f9f5d7;
	/* gruvbox light0_hard */
	--color-gray-200: #ebdbb2;
	/* gruvbox light1 */
	--color-gray-300: #d5c4a1;
	/* gruvbox light2 */
	--color-gray-400: #a89984;
	/* gruvbox light4 */
	--color-gray-500: #928374;
	/* gruvbox gray */
	--color-gray-600: #7c6f64;
	/* gruvbox dark4 */
	--color-gray-700: #504945;
	/* gruvbox dark2 */
	--color-gray-800: #3c3836;
	/* gruvbox dark1 */
	--color-gray-900: #282828;
	/* gruvbox dark0 */
	--color-gray-950: #1d2021;
	/* gruvbox dark0_hard */
}

:root {
	--ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
	--ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	--ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
	--ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	--ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
	--ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

	--ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	--ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
	--ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
	--ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
	--ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
	--ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

	--ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
	--ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
	--ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
	--ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
	--ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
	--ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

* {
	outline-color: var(--color-accent-400);
}

:focus-visible:not(.outline-none) {
	outline: 1px solid var(--color-accent-400);
	outline-offset: 1px;
}

@utility abs-y-center {
	top: 50%;
	@apply -translate-y-1/2;
}