/* ===========================================
 * Tailwind Default Neutral Colors
 * Original Tailwind neutral colors (unchanged)
 * 
 * 5 families: slate, gray, zinc, neutral, stone
 * 11 shades each: 50 (lightest) → 950 (darkest)
 * =========================================== */

@layer theme {
	:root {

		/* Slate */
		--slate-50: oklch(98.3% 0.004 250.531);
		--slate-100: oklch(96.6% 0.005 250.458);
		--slate-200: oklch(92.9% 0.009 250.473);
		--slate-300: oklch(87.8% 0.014 250.368);
		--slate-400: oklch(71% 0.02 250.469);
		--slate-500: oklch(54.7% 0.026 251.453);
		--slate-600: oklch(44% 0.029 252.612);
		--slate-700: oklch(37.3% 0.028 256.119);
		--slate-800: oklch(26.9% 0.023 257.281);
		--slate-900: oklch(20.5% 0.018 261.692);
		--slate-950: oklch(13% 0.013 264.695);

		/* Gray */
		--gray-50: oklch(98.5% 0 0);
		--gray-100: oklch(96.9% 0 0);
		--gray-200: oklch(93.2% 0 0);
		--gray-300: oklch(88% 0 0);
		--gray-400: oklch(71.3% 0 0);
		--gray-500: oklch(55.1% 0 0);
		--gray-600: oklch(44.4% 0 0);
		--gray-700: oklch(37.6% 0 0);
		--gray-800: oklch(27.4% 0 0);
		--gray-900: oklch(21.1% 0 0);
		--gray-950: oklch(13.6% 0 0);

		/* Zinc */
		--zinc-50: oklch(98.4% 0.002 247.858);
		--zinc-100: oklch(96.7% 0.004 247.896);
		--zinc-200: oklch(92.9% 0.007 247.896);
		--zinc-300: oklch(87.8% 0.011 264.364);
		--zinc-400: oklch(71% 0.015 265.756);
		--zinc-500: oklch(54.7% 0.018 256.803);
		--zinc-600: oklch(43.9% 0.02 256.788);
		--zinc-700: oklch(37.2% 0.019 259.733);
		--zinc-800: oklch(27.4% 0.014 265.754);
		--zinc-900: oklch(21% 0.01 280.358);
		--zinc-950: oklch(13.4% 0.008 285.885);

		/* Neutral */
		--neutral-50: oklch(98.5% 0 0);
		--neutral-100: oklch(96.9% 0 0);
		--neutral-200: oklch(93.1% 0 0);
		--neutral-300: oklch(87.9% 0 0);
		--neutral-400: oklch(71.2% 0 0);
		--neutral-500: oklch(55% 0 0);
		--neutral-600: oklch(44.2% 0 0);
		--neutral-700: oklch(37.4% 0 0);
		--neutral-800: oklch(27.2% 0 0);
		--neutral-900: oklch(20.9% 0 0);
		--neutral-950: oklch(13.4% 0 0);

		/* Stone */
		--stone-50: oklch(98.4% 0.002 106.424);
		--stone-100: oklch(96.7% 0.004 106.424);
		--stone-200: oklch(93% 0.006 85.873);
		--stone-300: oklch(88% 0.008 96.018);
		--stone-400: oklch(71.2% 0.011 77.558);
		--stone-500: oklch(55.1% 0.013 81.301);
		--stone-600: oklch(44.2% 0.012 75.961);
		--stone-700: oklch(37.4% 0.01 67.558);
		--stone-800: oklch(27.3% 0.007 34.298);
		--stone-900: oklch(21.1% 0.006 56.043);
		--stone-950: oklch(14.7% 0.004 49.25);
	}
}

